<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->

</head>

<body>

    <div id="app">




        <header class="main_h">
            <div class="heading">
                <div class='navi'>
                    <ul>
                        <li id="home">
                            <a href=".sec01">Home</a>
                        </li>
                        <li id="login">
                            <a href=".sec04">Login</a>
                        </li>
                        <li id="catalogue">
                            <a href=".sec02">Catalogue</a>
                        </li>
                        <li>
                            <a href=".sec03">
                                <!-- <img src="https://i.imgur.com/XoH7mKm.png" width="8%"> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="text-right"><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"
                data-target="#cartModal">Cart ({{cartItems.length}})</button></div>

        <div class="w3-container">

            <div id="id01" class="w3-modal w3-animate-opacity">
                <div class="w3-modal-content w3-card-4">
                    <header class="w3-container w3-white">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                        <h2>Cart</h2>
                    </header>
                    <div class="w3-container">


                        <!-- <shopping-cart inline-template:items="cartItems"> -->

                        <table class="shopping-cart">
                            <div class="row" v-for="item in items" :key="item.id">
                                <tr v-for="(item,index) in cartItems">
                                   <td>{{item.name}}:      {{item.price}}</td>
                                    <!-- <td style="width:120px">QTY:
                                        <input v-model="item.qty" class="form-control input-qty" type="number">
                                    </td>
                                    <td class="text-right">${{item.price }}</td>
                                    <td>
                                        <button @click="removeItem(index)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>  -->
                                </tr>
                                <tr v-show="cartItems.length === 0">
                                    <td colspan="4" class="text-center">Cart is empty</td>
                                </tr>
                                <tr v-show="cartItems.length > 0">
                                    <td></td>
                                    <td class="text-right">Cart Total</td>
                                    <!-- <td class="text-right">${{Total}}</td> -->
                                    <td></td>
                                </tr>
                        </table>
                        <!-- </shopping-cart> -->

                        </div>
                        <footer class="w3-container w3-white">
                            <p>Modal Footer</p>
                        </footer>
                    </div>
                </div>
            </div>


            <div class="hero">
                <span>
                    <img src="https://i.imgur.com/Mei7M7F.png" width="20%">
                </span>
                <br>

                <div class="mouse">
                    <span></span>
                </div>
            </div>



            <div class="content">
                <div id="sponsor1">

                    <img src="https://i.imgur.com/Av1CztS.jpg" width="50%">
                </div>
                <div id="sponsor2">
                    <img src="https://i.imgur.com/ObM6gRG.png" width="50%">
                </div>
                <div id="sponsor3">
                    <br>
                    <br>

                    <br>
                    <img src="https://i.imgur.com/R3OOpF3.png" width="50%">

                </div>
                <div id="sponsor4">
                    <br>
                    <br>

                    <img src="https://i.imgur.com/hfs6XNj.png" width="50%">
                </div>
            </div>
            <div class="content2">

                <div id="product" v-for="featuredProduct in featuredProducts">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <img v-bind:src="featuredProduct.image" width="120%">
                            <div class="overlay">
                                <a class="info" href="#">add to Cart</a>
                            </div>
                        </div>
                    </div>

                </div>



                <div id="text_product">

                    <h3> New Arrival</h3>
                    <h2>Freshest of the Fresh
                    </h2>
                    <p>Featuring the freshest and most tasty in our beautiful range of
                        <br> sweets and cakes sourced throughout the year.</p>
                    <br>
                    <p>SHOP NOW</p>


                </div>


            </div>


            <div class="separator">
                <img class='pretty-woman' src="https://i.imgur.com/LyOKAes.png" alt="" width="30%">

                <h5>Enak banget,kok nagih ya
                    </h3>
                    <h6>-Dian Sastro-</h6>
            </div>

            <div class="content3">
                <div class="image_left">
                </div>
                <div class="image_right">
                </div>
            </div>



            <div class="item-list">
                <div class="row" v-for="product in items" :key="product.id">
                    <div class="card">
                        <div class="card-image">
                            <div class="col-lg-3 col-md-4 col-sm-2 col-xs-12">
                                <div class="hovereffect">
                                    <img v-bind:src="product.image">
                                    <div class="overlay">
                                        <a class="info" href="#" @click="addToCart(product)">add to Cart</a>
                                    </div>
                                    {{product.price}}
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                                {{ product.description }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="separator">
            </div>

            <div class="comming-soon">

                <h1>Coming Soon</h1>

                <div class="gallery-wrap">
                    <div class="item item-1"></div>
                    <div class="item item-2"></div>
                    <div class="item item-3"></div>
                    <div class="item item-4"></div>
                    <div class="item item-5"></div>
                </div>

            </div>


            <div id="site-content"></div>
            <div id="site-footer"></div>

        </div>
        <script src="main.js"></script>

</body>

</html>