<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
  <script src="sweetalert2.all.min.js"></script>
  <title>E-Commerce - Ari Supriatna</title>
  <style>
    .space {
      margin-left: 10px
    }

    .checked {
      color: orange
    }

    .fa-diamond {
      color: aqua
    }
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-danger">
      <a class="navbar-brand text-white" href="#">RISTORE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-th-list"></i>
              Kategori
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div v-for="category in categories">
                <a class="dropdown-item" :href="category.url">
                  {{ category.name }}
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Lihat Selengkapnya</a>
            </div>
          </li>
          <li>
            <form class="form-inline my-2 my-lg-0 space">
              <input class="form-control mr-sm-1" type="search" name="search" v-model="searchText" placeholder="Aku mau belanja..." aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <i class="fa fa-search"></i> Search</button>
            </form>
          </li>
        </ul>
        <div class="dropdown show">
          <a class="dropdown-toggle text-white nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Lihat Status Transaksi
          </a>
          <form class="dropdown-menu p-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Kode Pembeli">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nomor Transaksi">
            </div>
            <button type="submit" class="btn btn-success">Cek Status</button>
          </form>
        </div>
        <a class="btn btn-outline-light btn-sm space" href="#" data-toggle="modal" data-target="#exampleModalLong">
          <i class="fa fa-shopping-cart" style="font-size: 20px"></i>
          <span class="badge badge-light">{{ carts.length }}</span>
        </a>
        <a class="btn btn-outline-light btn-sm space" href="#">Login</a>
        <a class="btn btn-outline-light btn-sm space" href="#">Daftar</a>
      </div>
    </nav>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="exampleModalLongTitle">Your Shopping Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">Daftar Pembelian</div>
                    <div class="card-body">
                      <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th scope="col">Nomor Transaksi</th>
                            <th scope="col">Pelapak</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>231931202381</td>
                            <td>USER 0014</td>
                            <td></td>
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th>Catatan Untuk Pelapak</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>-</td>
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th>Detail Barang</th>
                            <th>Jumlah</th>
                            <th>Harga</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="cart in carts">
                            <td>
                              <img :src="cart.image" width="150" alt="">
                              <br>
                              <p>{{ cart.title }}</p>
                            </td>
                            <td>{{ totalBarang }}</td>
                            <td>{{ convertPrice(cart.price) }}</td>
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th>Total Harga</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td>{{ convertPrice(cartTotal) }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="checkOut">Checkout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 80px">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#bukalapak-credit" role="tab" aria-controls="pills-home"
                    aria-selected="true">Credits</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#bukalapak-pulsa" role="tab" aria-controls="pills-profile"
                    aria-selected="false">Pulsa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bukalapak-paket-data" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Paket Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bukalapak-listrik-pln" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Listrik PLN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bukalapak-bpjs" role="tab" aria-controls="pills-contact"
                    aria-selected="false">BPJS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bukalapak-voucher-game" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Voucher Game</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bukalapak-zakat-profesi" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Zakat Profesi</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="bukalapak-credit" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Nominal</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>50.000</option>
                              <option>100.000</option>
                              <option>250.000</option>
                              <option>500.000</option>
                              <option>1.000.000</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Metode Pembayaran</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Transfer</option>
                              <option>BCA KlikPay (KlikBCA Individu)</option>
                              <option>Mandiri E-Cash</option>
                              <option>CIMBClicks/RekPonsel/QRGoMobile</option>
                              <option>Indomaret</option>
                              <option>Alfamart</option>
                              <option>Post Indonesia</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp.50.000</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger" style="margin-top: 15px">Beli Credits</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="bukalapak-pulsa" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Nomor Telepon</label>
                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Nomor telepon">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Nominal</label>
                          <div class="form-group">
                            <input type="text" class="form-control" id="nominal" placeholder="Nominal">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Beli Pulsa</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="bukalapak-paket-data" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Nomor Telepon</label>
                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Nomor telepon">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Paket</label>
                          <div class="form-group">
                            <input type="text" class="form-control" id="nominal" placeholder="Paket">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Beli Pulsa</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="bukalapak-listrik-pln" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Token Listrik</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Tagihan Listrik</label>
                    </div>
                    <br>
                    <br>
                    <div class="row">

                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Nomor meter</label>
                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Nomor meter">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Periode</label>
                          <div class="form-group">
                            <input type="text" class="form-control" id="nominal" placeholder="Periode" disabled>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Beli Token Listrik</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="bukalapak-bpjs" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Nomor Kepesertaan</label>
                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Nomor kepesertaan">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Bayar Hingga</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Agustus 2018</option>
                            <option>September 2018</option>
                            <option>Oktober 2018</option>
                            <option>November 2018</option>
                            <option>Desember 2018</option>
                          </select>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Bayar BPJS Kesehatan</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="bukalapak-voucher-game" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Publisher</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Gemscool Cash</option>
                              <option>Digi Game Card</option>
                              <option>Garena Shells</option>
                              <option>LINE STORE</option>
                              <option>Travian</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Nominal</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>20.000 (2.000 G-Cash)</option>
                            <option>30.000 (3.000 G-Cash)</option>
                            <option>50.000 (5.000 G-Cash)</option>
                            <option>100.000 (10.000 G-Cash)</option>
                            <option>200.000 (20.000 G-Cash)</option>
                            <option>300.000 (30.000 G-Cash)</option>
                          </select>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <label>Harga</label>
                        <br>
                        <strong>Rp. 10.000</strong>
                      </div>
                      <div class="col-lg-3">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Beli Voucher</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="bukalapak-zakat-profesi" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-3">
                        <form>
                          <div class="form-group">
                            <label>Nominal Zakat</label>
                            <input type="text" class="form-control" id="nomor_telepon" placeholder="Nomor telepon">
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-3">
                        <form>
                          <label>Pilih Lembaga</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Dompet Dhuafa</option>
                            <option>NU Care-Lazisnu</option>
                            <option>Baznas</option>
                            <option>Aksi Cepat Tanggap</option>
                            <option>Rumah Yatim</option>
                            <option>Lazismu</option>
                          </select>
                        </form>
                      </div>
                      <div class="col-lg-2">
                        <form>
                          <label>Nama Kamu</label>
                          <input type="text" class="form-control" placeholder="Nama kamu">
                        </form>
                      </div>
                      <div class="col-lg-2">
                        <label>Nominal Zakat</label>
                        <br>
                        <strong>Rp.</strong>
                      </div>
                      <div class="col-lg-2">
                        <a href="#" class="btn btn-danger disabled" style="margin-top: 15px">Bayar Zakat</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <strong>Pencarian Populer</strong>
          <a href="#" v-for="tag in tagPopuler">
            <span class="badge badge-pill badge-secondary" style="margin-left: 15px">{{ tag }}</span>
          </a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-6">
              <br>
              <div class="card">
                <img src="https://s3.bukalapak.com/uploads/flash_banner/36803/s-1256-824/Banner_1.jpg.webp" class="card-img-top" alt="">
              </div>
            </div>
            <div class="col-lg-4">
              <br>
              <img src="https://s0.bukalapak.com/uploads/flash_banner/08903/s-824-392/63048c04-032a-4284-8772-941fb63c96e1.jpg.webp" class="card-img-top"
                alt="">
              <br>
              <br>
              <div class="row">
                <div class="col-lg-6">
                  <img src="https://s3.bukalapak.com/uploads/flash_banner/86903/s-392-392/Banner_4__kurir20.jpg.webp" class="card-img-top"
                    alt="">
                </div>
                <div class="col-lg-6">
                  <img src="https://s3.bukalapak.com/uploads/flash_banner/30803/s-392-392/Banner_4.jpg.webp" alt="" class="card-img-top">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <br>
              <img src="https://s2.bukalapak.com/uploads/flash_banner/26903/s-392-824/Banner_3__kurir-kemerdekaan.jpg.webp" width="167"
                alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br>
          <br>
          <strong>Promo Hari Ini</strong>
          <div class="row">
            <div class="col-lg-2" v-for="promo in promoTheDay">
              <br>
              <div class="card">
                <img :src="promo.imgUrl" class="card-img-top" alt="">
              </div>
              <small>
                <a href="#" class="text-dark">{{ promo.title }}</a>
              </small>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br>
          <br>
          <strong>Diskon Idul Adha</strong>
          <div class="row">
            <div class="col-lg-3" v-for="item in filteredListAllItem">
              <br>
              <div class="card">
                <img :src="item.imgUrl" class="card-img-top" alt="">
                <div class="card-body">
                  <small>
                    <a href="#" class="text-dark">{{ item.title }}</a>
                    <br>
                    <br> {{ convertPrice(item.price) }}
                  </small>
                  <br>
                  <i class="fa fa-star checked" v-for="stars in Number(item.stars)"></i>
                  <i class="fa fa-diamond"></i>
                  <br>
                  <br>
                  <button class="btn btn-danger btn-sm" @click="descriptionItem(item.imgUrl, item.title, item.price)">Descriptions</button>
                  <button :value="item.id" @click="orderItem(item.id, item.imgUrl, item.title, item.price)" class="btn btn-danger btn-sm">Beli Sekarang</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <footer class="page-footer font-small bg-danger pt-0">
    <div class="footer-copyright py-3 text-center text-white">
      <small>
        © 2018 Copyright:
        <a href="https://www.explorecode.tk/" class="text-white"> Ari Supriatna. All Rights Reserved </a>
      </small>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="index.js"></script>

</body>

</html>