<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>D Gund-OL</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./3dtext.css">
  <style>
  body {
      background-color: #E0FAFA;
  }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#"><strong>D Gund-OL</strong></a>
      <button
          class="navbar-toggler hidden-lg-up"
          type="button"
          data-toggle="collapse"
          data-target="#nav-Quality"
          aria-controls="nav-Quality"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-Quality">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navDropdown">
              <a class="dropdown-item" href="#" v-for="grade in grades">
                <i class="fa fa-tag" aria-hidden="true"></i>
                  {{grade}} Grade
              </a>
            </div>
          </li>
          <form class="form-inline my-2 my-lg-0 space" action="">
            <div class="input-group">
              <input class="form-control mr-sm-1" type="text" placeholder="Search model.." aria-label="Search" aria-describedby="">
              <div class="input-group-append">
                <button class="btn btn-outline-light text-dark" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </ul>
        <button class="btn btn-outline-light mr-3 text-dark" type="button" data-toggle="modal" data-target="#modalCart"> <i class="fa fa-shopping-cart" v-if="isLoggedIn"></i> {{totalQuantity()}} </button>
        <button class="btn btn-success mr-2" v-if="isLoggedin === false"> Register </button>
        <button class="btn btn-warning mr-2"> Account </button>
      </div>
    </nav>
    
    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="modalTitle">Your Shopping Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Model</th>
                      <th>Grade</th>
                      <th class="text-center">Quantity</th>
                      <th>Price</th>
                      <th class="text-center" colspan="2">Action</th>
                    </tr>
                  </thead>
                  <tbody v-for="cartItem in cartItems">
                    <tr>
                      <td class="text-center" rowspan="2"><img v-bind:src=cartItem.img width="150" height="150" v-bind:alt=cartItem.name><br>{{cartItem.name}}</td>
                      <td>{{cartItem.grade}} Grade</td>
                      <td class="text-center">{{cartItem.quantity}}</td>
                      <td>{{cartItem.price}}</td>
                      <td><a href="#"><button type="button" class="btn btn-danger">Remove</button></a></td>
                      <td><a href="#"><button type="button" class="btn btn-primary tr">Add More</button></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <br><br>
  
      <div class="row">
        <div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
          <h2 class="text-danger text-center">New Arrival</h2>
          <br>
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" v-bind:src=newArrivals[0].img width="400" height="400" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="text-shadow">Just arrive this month!</h2>
              </div>
            </div>
            <div class="carousel-item" v-for="(item) in newArrivals">
              <img class="d-block w-100" v-bind:src=item.img width="400" height="400" v-bind:alt=item.name>
                <div class="carousel-caption d-none d-md-block">
                <h4 class="text-shadow">{{item.name}}</h4>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            
          </div>
        </div>
        </div>
      </div>

      <br><br>
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h3><strong>Perfect Grade</strong></h3>   
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-3 mt-3" v-for="item in items">
            <div class="card">
              <img v-bind:src=item.img height="250" class="card-img-top" v-bind:alt=item.name>
              <div class="card-body text-center">
                <p><large><strong>{{item.name}}</strong></large></p>
                <p><medium>Stock: {{item.stock}}</medium></p>
                <button class="btn btn-success mr-2" v-on:click="addToCart(item)"> Add To Cart </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  
  </div>

  <br><br>
  <footer class="page-footer font-small bg-primary pt-0">
    <div class="footer-copyright py-3 text-center text-white">
      <small>
        © 2018 Copyright:
        <a href="#" class="text-white"> D Gund-OL. </a>
        <br>
        All rights reserved.
      </small>
    </div>
  </footer>

  </div>

  <script>
  let app = new Vue({
    el: '#app',
    data: {
      grades: ['Perfect', 'Master', 'High'],
      newArrivals : [
        {
          name: 'Raiser',
          img: './assets/Raiser.jpg'
        },
        {
          name: 'Red Kai',
          img: './assets/Red-Kai.jpg'
        },
        {
          name: 'Sengoku Astray',
          img: './assets/Sengoku-Astray.jpg'
        }
      ],
      items: [
        {
          name: 'Astray Red',
          img: './assets/Astray-Red.jpg',
          grade: 'Master',
          stock: 4,
          price: 600000
        },
        {
          name: 'Build Strike',
          img: './assets/Build-Strike.jpg',
          grade: 'Master',
          stock: 5,
          price: 700000
        },
        {
          name: 'Double-Bullet',
          img: './assets/Double-Bullet.jpg',
          grade: 'Master',
          stock: 1,
          price: 650000
        },
        {
          name: 'Exia Dark Matter',
          img: './assets/Exia.png',
          grade: 'Master',
          stock: 1,
          price: 5500000
        },
        {
          name: 'Hi-Nu',
          img: './assets/Hi-Nu.jpg',
          grade: 'Master',
          stock: 1,
          price: 5000000
        }
      ],
      cartItems: [],
      isLoggedIn: false || localStorage.getItem('token')
    },
    methods: {
      addToCart: function (item){
        newItem = {
          name: item.name,
          img: item.img,
          grade: item.grade,
          quantity: 1,
          price: item.price
        }

        let isAlreadyIn = false;
        this.cartItems.forEach( cartItem => {
          if(cartItem.name == newItem.name){
            isAlreadyIn = true;
            cartItem.quantity += 1;
            cartItem.price += newItem.price;
          }
        })

        if (!isAlreadyIn){
          this.cartItems.push(newItem)
        }
      },
      totalQuantity: function () {
        return this.cartItems.reduce(function (acc,cur) {
          return acc + cur.quantity
        }, 0)      
      }
    },
    computed: {
      
    },
    watch: {}
  })
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>