#nprogress .bar {
  background: greenyellow !important;
  height: 5px !important;
}

#nprogress .peg {
  box-shadow: 0 0 5px greenyellow, 0 0 3px greenyellow !important;
}

#nprogress .spinner-icon {
  border-top-color: greenyellow !important;
  border-left-color: greenyellow !important;
}