<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">  
  <title>PinjemDonk</title>
</head>
<body>
  <div id="app">
    <button @click="logout" style="background-color:brown;border-radius:5px;float:right;margin-right:30px;">Logout</button>
    <div class="upload" style="width: 50%; margin-left:25%; margin-top: 20px;border-radius: 5px;">
      Product Name:<br>
      <input type="text" v-model="productName" style="width: 100%; height:40px;border-radius: 5px;" placeholder="Product Name...">
      <br>
      Price:<br>
      <input type="text" v-model="price" style="width: 100%;height:40px;border-radius: 5px;" placeholder="Price...">
      <br>
      <label>Select Category</label>
        <select class="form-control" v-model="category">
          <option value="Party">Party</option>
          <option value="Formal">Formal</option>
          <option value="Occasion">Occasion</option>
        </select>
      <br><br>
      <input type="file" @change="getImage($event)" id="selectFile">
      <button @click="uploadToGcp" id="btnUpload">Upload</button>
    </div>
    <br><br>
    <div style="width:70%; margin-left:15%">
      <h2>All Products</h2>
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(cart, index) in allProducts" v-bind:key="index">
            <td><img v-bind:src="cart.imgUrl" id="img" style="width:50px;"></td>
            <td>{{cart.name}}</td>
            <td>{{cart.price}}</td>
            <td>{{cart.category}}</td>
            <td><a href="#" style="color:black"><i class="far fa-edit" @click="forEdit(cart)" data-toggle="modal" data-target="#exampleModal"></i></a> || <a href="#" style="color:black"><i class="far fa-trash-alt" @click="deleteProduct(cart._id)"></i></a></td>
            
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="formEdit">
                      <label>Product: </label><br>
                      <input type="text" v-model="productedit.name" id="inputEdit"><br>
                      <label>Price: </label><br>
                      <input type="text" v-model="productedit.price" id="inputEdit"><br><br>
                      <select v-model="newCategory" id="inputEdit">
                        <option disabled value="">Please select the category</option>
                        <option value="Party">Party</option>
                        <option value="Formal">Formal</option>
                        <option value="Occasion">Occasion</option>
                      </select>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnsave" @click="edit({id: productedit._id, name: productedit.name, price: productedit.price, category: newCategory, imgUrl: productedit.imgUrl})">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="app.js"></script>
  <script>
    let token = localStorage.getItem('token')
    let isAdmin = localStorage.getItem('isAdmin')
      if(!token || !isAdmin){
        alert('You have no access!')
        window.location = 'login.html'
        localStorage.clear()
      }
  </script>
</body>
</html>